/*Importación de fuentes de Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;

}
.principal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header .header-icon-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: end;
    background-color: #48CFAD;
}

header .header-icon-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

header .header-icon-container .icons span{
    color: white;
}


/*Clase 8 */

nav{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.nav-logo-container{
    margin-left: 50px;
    margin-top: 15px;
}

.profile-link{
    margin-right: 50px;
    align-self: center;
    text-align: end;
}

.nav-logo-container img{
    width: 220px;
}

.profile-link a{
    border-bottom: 1px solid black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

/*Reto clase 8 */

.main__principal{
    width: 100%;
    height: 100%;
    background-image: url(../assets/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main__principal h1{
    margin-top: 0;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    width: 51%;
    margin: 0 auto;
    line-height: 40px;
    padding-top: 100px;
    font-weight: 700;
    word-spacing: 5px;
    letter-spacing: 10px;
}

.main__principal a{
    display: block;
    background-color: #48CFAD; /**/
    width: 135px; /**/
    height: 55px; /**/
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin-top: 140px;
    padding-top: 15px;
    box-sizing: border-box;
}

/* Clase 15: Estilos en el main de blogs.html*/

.blogs--main{
    width: 100%;
    height: auto;
}

.main__entrada--principal{
    width: 100%;
    height: auto;
    display: grid;
    padding: 0px 100px 0px 145px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 60px 200px 120px ;
    grid-template-areas: 
    "news ."
    "image title"
    "image text"
    "image btn "
    ;
    background-color: #E6E9ED;
}

.item1{
    grid-area: news;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    align-self: center;
}

.item2{
    grid-area: image;
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.item3{
    grid-area: title;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    font-size: 22px;
    align-self: center;
}
.item4{
    grid-area: text;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 15px;
    align-self: center;
}
.item5, .btn{
    grid-area: btn;
    width: 100px;
    height: 40px;
    align-self: self-start;
    background-color: #48CFAD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: white;
}

.btn:hover{
    background-color: #16A085;
}

/* Clase 18: Trabajando la sección de post*/

.main__entrada--secundaria{
    width: 100%;
    height: auto;
}

.main__entrada--secundaria .main--title{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid #D4D8DF;
}

.blogs--container{
    width: 77%;
    height: auto;
    margin: 0 auto;
}

.blogs--container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    row-gap: 20px;
    column-gap: 25px;
}

.blogs__article{
    width: 100%;
    height: auto;
}

.blogs__article img{
    width: 100%;
    height: 40%;
    object-fit: cover;
}

.blogs__article h3{
    font-family: 'Roboto Mono', monospace;
    margin: 15px 0 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: #616A6B ;
    height: 7%;
    display: flex;
    align-items: center;
}

.blogs__article p{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    color: #616A6B ;
    height: 25%;
    margin-bottom: 20px;
}

footer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 2fr 4fr;
}

.footer_green{
    background-color: #48CFAD;
}
.footer_black{
    background-color: #22272D;
}

.footer_black p{
    padding-top: 30px;
    padding-bottom: 30px;
    color:white;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

/* Clase 20: Crear la pantalla de blog */

.blog--main__img img{
    width: 100%;
}