/*Importación de fuentes de Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

header .header-icon-container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: end;
    background-color: #48CFAD;
}

header .header-icon-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
}

header .header-icon-container .icons span{
    color: white;
}


/*Clase 8 */

nav{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.nav-logo-container{
    margin-left: 50px;
    margin-top: 15px;
}

.profile-link{
    margin-right: 50px;
    align-self: center;
    text-align: end;
}

.nav-logo-container img{
    width: 220px;
}

.profile-link a{
    border-bottom: 1px solid black;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
}

/*Reto clase 8 */

main{
    width: 100%;
    height: 100%;
    background-image: url(../assets/cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main h1{
    margin-top: 0;
    text-align: center;
    color: white;
    font-family: 'Roboto Mono', monospace;
    width: 51%;
    margin: 0 auto;
    line-height: 40px;
    padding-top: 100px;
    font-weight: 700;
    word-spacing: 5px;
    letter-spacing: 10px;
}

main a{
    display: block;
    background-color: #48CFAD; /**/
    width: 135px; /**/
    height: 55px; /**/
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin-top: 140px;
    padding-top: 15px;
    box-sizing: border-box;
}
