@media (max-width: 950px) {

    /* Cambios en blogs.html*/

    .main__entrada--principal{
        grid-template-columns: 1fr ;
        grid-template-rows: 60px  auto  auto auto auto;
        grid-template-areas: 
        "news "
        "image "
        "title"
        "text"
        "btn "
       ;
       row-gap: 15px;
       padding-bottom: 25px;
    }

    .item2{
        height:95%;
    }

    .item4{
        width: 90%;
    }

    .blogs--container{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

    /* Cambios en input.html*/

    .blog--main__img{
        padding: 0px 25px 0px 25px;
    }


    .blog--main__entry article .item3{
        padding-bottom: 30px;
        padding-top: 15px;
        font-size: 28px;
    }

    .blog--main__entry article p{
        width: 100%;    
    }

    .blog--main__contact{
        padding: 50px 60px 120px 50px;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
        grid-template-areas: 
        " left  right"
        ;
    }

    .blog--main__contact img{
        height: 70%;
    }

    .part--left, .part--right{
        column-gap: 10px;
    }

    /* Cambios en index.html*/

    .main__principal h1{
        width: 80%;
        font-size: 30px;
    }

    .main__principal a{
        margin-top: 90px;
    }

}

@media (max-width: 550px) {
    /* Cambios en blogs.html*/

    .main__entrada--principal{
        grid-template-rows: auto  auto  auto auto auto;
        padding: 25px 30px 25px 55px;
    }

    .item4{
        font-size: 13px;
        width: 95%;
    }

    .item3{
        font-size: 20px;
    }

    .item2{
        width: 95%;
    }

    .blogs--container{
        grid-template-columns: 1fr;
        row-gap: 15px;
        width: 80%;
        padding-bottom: 10px;
    }

    .blogs__article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        grid-template-areas: 
            "photo titlee"
            "photo paragraph"
            "photo button"
        ;
        height: 190px;
        row-gap: 5px;
        border-bottom: 1px solid #E6E9ED;
    }

    .blogs__article img{
        grid-area: photo;
        width: 90%;
        height: 90%;
        align-self: center;
    }
    .blogs__article h3{
        grid-area: titlee;
        font-size: 14px;
        margin: 0;
        height: 100%;
        display: block;
    }

    .blogs__article p{
        grid-area: paragraph;
        font-size: 13px;
        height: 100%;
    }

    .blogs__article a{
        grid-area: button;
        height: 30px;
    }

    /* Cambios en input.html*/

    .blog--main__contact{
        max-height: 350px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        " left  "
        "right"
        ;
        row-gap: 25px;
        padding: 50px 50px 100px 50px;
    }

    .blog--main__contact img{
        height: 90%;
    }

    .part--left, .part--right{
        column-gap: 20px;
    }

    .blog--main__entry article .item3{
        font-size: 22px;
    }

    /* Arreglo del header*/

    .nav-logo-container{
        margin-left: 20px;
        margin-top:22px;
    }

    .profile-link{
        margin-right: 30px;

    }
    .nav-logo-container img{
        width: 180px;
    }
    .profile-link a{
        font-size: 14px;
    }

    /* Arreglo del footer*/

    .footer_black p{
        width: 90%;
    }
}
