@media (max-width: 950px) {

    /* Cambios en blogs.html*/

    .main__entrada--principal{
        grid-template-columns: 1fr ;
        grid-template-rows: 60px  auto  auto auto auto;
        grid-template-areas: 
        "news "
        "image "
        "title"
        "text"
        "btn "
       ;
       row-gap: 15px;
       padding-bottom: 25px;
    }

    .item2{
        height:95%;
    }

    .item4{
        width: 90%;
    }

    .blogs--container{
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
    }

    
}

@media (max-width: 550px) {
    /* Cambios en blogs.html*/

    .main__entrada--principal{
        grid-template-rows: auto  auto  auto auto auto;
        padding: 25px 50px 25px 85px;

    }
}
